@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Montreau";
  src: url("assets/fonts/Montreau-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Chivo";
  src: url("assets/fonts/Chivo-Regular.otf") format("opentype");
}
